<!-- product export trade flow page -->
<section class="section product_trade_flow_section hide-on-large-only">
    <!-- <div class="divider"></div> -->
    <form method="POST" action="/inputExportFlow" id="exportFlowForm">
        <div class="row center">
            <!-- capturing the data -->
            <div class="col s12">
                <h4 class="center green-text text-darken-1">Export Flow</h4>
                <small class="center green-text text-darken-1">Please fill in the form</small>
                <div class="submitAlert">
                    <p>Success: Your data has been sent</p>
                </div>
                <div class="errorAlert">
                    <p>Notice: No internet connection. Data saved locally</p>
                </div>
                <div class="container">
                    <ul class="collapsible">
                        <!-- Exporter Details -->
                        <li class="active">
                            <div class="collapsible-header">Exporter Info</div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <label for="name">Full Name</label>
                                    <input type="text" name="name" id="name" required value="<%= typeof name != 'undefined' ? name: '' %>">
                                </div>
                                <div class="input-field">
                                    <label for="email">Email(optional)</label>
                                    <input type="email" name="email" id="email" value="<%= typeof email != 'undefined' ? email: '' %>"email>
                                </div>
                                <div class="input-field">
                                    <label for="address">Address</label>
                                    <input type="text" name="address" id="address" required value="<%= typeof address != 'undefined' ? address: '' %>"address>
                                </div>
                                <div class="input-field">
                                    <label for="phone">Phone (home, office or business)</label>
                                    <input type="text" name="phone" id="phone" required value="<%= typeof phone != 'undefined' ? phone: '' %>">
                                </div>
                            </div>
                        </li>
                        <!-- End of Exporter Details -->
                        <!-- Goods Details -->
                        <li>
                            <div class="collapsible-header">Goods Details</div>
                            <div class="collapsible-body">
                                 <div class="input-field">
                                    <select name="products" id="products" required class="validate">
                                         <option value="" class="gray-text" required disabled selected>Choose Product</option>
                                        <option  id="rice" value="Rice">Rice</option>
                                        <option  id="sweet_potatoe" value="Sweet Potatoe">Sweet Potatoe</option>
                                        <option  id="groundnut" value="Groundnut">Groundnut</option>
                                        <option  id="cassava" value="Cassava">Cassava</option>
                                        <option  id="maize" value="Maize">Maize</option>
                                        <option  id="papper" value="Pepper">Pepper</option>
                                        <option  id="palmoil" value="Palm Oil">Palm Oil</option>
                                        <option  id="Cacao" value="Cacao">Cacao</option>
                                        <option  id="coffee" value="Coffee">Coffee</option>
                                    </select>
                                </div>
                                <div class="input-field kg" id="">
                                    <label for="weight">Total Weights (Kg)</label>
                                    <input type="number" name="weight" id="weight"  value="<%= typeof weight != 'undefined' ? weight: '' %>">
                                </div>
                                <div class="input-field gallon" id="">
                                    <label for="weight">Total Weights (Gallon)</label>
                                    <input type="number" name="weight" id="weight" value="<%= typeof weight != 'undefined' ? weight: '' %>">
                                </div>
                                <div class="input-field">
                                    <label for="tonage">Tonage</label>
                                    <input type="text" name="tonage" id="tonage" required value="<%= typeof tonage != 'undefined' ? tonage: '' %>">
                                </div>
                                <div class="input-field">
                                    <label for="value">Value</label>
                                    <input type="number" name="value" id="value" required value="<%= typeof value != 'undefined' ? value: '' %>">
                                </div>
                            </div>
                        </li>
                        <!-- End pf goods details -->
                        <li>
                            <div class="collapsible-header">Route Details</div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <select id="district" required class="validate" name="district" value="<%= typeof district != 'undefined' ? district: '' %>">
                                        <option value="" class="gray-text" required disabled selected>Choose a District</option>
                                        <option  id="DIST_WAU">Western Area Urban</option>
                                        <option  id="DIST_WAR">Western Area Rural</option>
                                        <option  id="DIST_FAL">Falaba</option>
                                        <option  id="DIST_KOI">Koinadugu</option>
                                        <option  id="DIST_BOM">Bombali</option>
                                        <option  id="DIST_TON">Tonkolili</option>
                                        <option  id="DIST_KAM">Kambia</option>
                                        <option  id="DIST_KAR">Karene</option>
                                        <option  id="DIST_POR">Porto Loko</option>
                                        <option  id="DIST_BO">Bo</option>
                                        <option  id="DIST_BON">Bonthe</option>
                                        <option  id="DIST_PUJ">Pujehun</option>
                                        <option  id="DIST_MOY">Moyamba</option>
                                        <option  id="DIST_KEN">Kenema</option>
                                        <option  id="DIST_KAL">Kaliahun</option>
                                        <option  id="DIST_KON">Kono</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <select id="region" required class="validate" name="region" value="<%= typeof region != 'undefined' ? region: '' %>">
                                        <option value="" class="gray-text" required disabled selected>Select a region</option>
                                        <option id="WAU">Wester Area Urban</option>
                                        <option id="WAR">Wester Area Rural</option>
                                        <option id="NORT">North</option>
                                        <option id="NORTW">North West</option>
                                        <option id="EAST">East</option>
                                        <option id="SOUTH">South</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <select id="districtFrom" required class="validate" name="districtFrom" value="<%= typeof district != 'undefined' ? district: '' %>">
                                        <option value="" class="gray-text" required disabled selected>District From</option>
                                        <option  id="DIST_WAU">Western Area Urban</option>
                                        <option  id="DIST_WAR">Western Area Rural</option>
                                        <option  id="DIST_FAL">Falaba</option>
                                        <option  id="DIST_KOI">Koinadugu</option>
                                        <option  id="DIST_BOM">Bombali</option>
                                        <option  id="DIST_TON">Tonkolili</option>
                                        <option  id="DIST_KAM">Kambia</option>
                                        <option  id="DIST_KAR">Karene</option>
                                        <option  id="DIST_POR">Porto Loko</option>
                                        <option  id="DIST_BO">Bo</option>
                                        <option  id="DIST_BON">Bonthe</option>
                                        <option  id="DIST_PUJ">Pujehun</option>
                                        <option  id="DIST_MOY">Moyamba</option>
                                        <option  id="DIST_KEN">Kenema</option>
                                        <option  id="DIST_KAL">Kaliahun</option>
                                        <option  id="DIST_KON">Kono</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <!-- End of Routes -->
                        <!-- Destination -->
                        <li>
                            <div class="collapsible-header">Goods Destination</div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <label for="countryTO">Country To</label>
                                    <input type="text" name="countryTO" id="countryTO" required value="<%= typeof countryTO != 'undefined' ? countryTO: '' %>">
                                </div>
                                <!-- <div class="input-field">
                                    <label for="enumerator">Enumerator</label>
                                    <input type="text" name="enumerator" id="enumerator" required>
                                </div> -->
                                <div class="input-field">
                                    <label for="date">Date</label>
                                    <input type="text" class="datepicker" id="date" required>
                                </div>
                            </div>
                        </li>
                        <!-- End of Destination -->
                    </ul>
                    <input class="btn btn-small btn-extend blue lighten-2 white-text" type="submit" value="send">
                </div>
                
            </div>
        </div>
    </form>
</section>